.bodyBackgroundClass {
  background-color: #231f20;
  color: rgb(193, 188, 188);
}
.headerColor {
  color: rgb(249, 202, 115);
}
.footer-earn-money {
  color: rgb(153, 109, 27);
}
.footer-corporate-office {
  color: rgb(220, 153, 29);
}
.google-color {
  color: #3bccff;
}
